.container{
    display: flex;
}

.list-movies {
    max-width: 800px;
    margin: 14px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-movies article {
    max-width: 450px;
    background: #fff;
    padding: 15px;
    border-radius: 4px;
}

.list-movies strong {
    margin-bottom: 14px;
    text-align: center;
    font-size: 22px;
    display: block;
}

.list-movies img {
    width: 100%;
    max-width: 100%;
    max-height: 550px;
    object-fit: cover;
    display: block;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.list-movies a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    font-size: 24px;
    background: #116feb;
    text-decoration: none;
    color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

}
