.movie-info {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 0 8px;
    margin: 0 auto;   
    min-height: calc(100vh - 174px);
}

.movie-info h1 {
    margin: 14px 0;
}

.movie-info img {
    border-radius: 8px;
    width: 800px;
    max-width: 100%;
    max-height: 450px;
    object-fit: cover;
}

.movie-info h3 {
    margin-top: 14px;
}

.movie-info span {
    margin: 8px 0;
}

.area-buttons button {
    margin-right: 12px;
    margin-top: 14px;
    margin-left: 0;
    font-size: 20px;
    border: 0;
    outline: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.area-buttons button:hover {
    background-color: brown;
    color: #fff;
}
.area-buttons button a:hover {
    background-color: brown;
    color: #fff;
}

.area-buttons a {
    text-decoration: none;
    color: #000;
    transition: background-color 0.5s ease, color 0.5s ease;
}
